<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>收货地址</title>
	<meta name="viewport"
		content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<link rel="stylesheet" href="../css/reset.css">
	<link rel="stylesheet" href="../css/address.css">
</head>

<body>
	<header>
		<img class="arrow-left" src="../img/address/arrow.png" alt="">
		<span class="title">收货地址</span>
	</header>
	<ul class="address-list">
		<!-- 收货地址列表 -->
	</ul>
	<a href="#" class="add-button">
		新建收货地址
	</a>
	<script type="module" src="../js/address.js"></script>
</body>

</html>