<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- initial-scale=1.0是确保页面1:1展现，不会出现缩放 -->
    <!-- user-scalable=no在移动端禁止浏览器缩放，和maximum-scale=1.0一起使用 -->
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/appendaddress.css">
    <title>Document</title>
</head>

<body>
    <div class="root">
        <div class="topbar">
            <img src="../images/icon/elf_39.png" alt="">
            添加地址
        </div>
        <div class="content">
            <form action="#">
                <label class="consignee component">
                    <span class="title">收货人：</span>
                    <input name="name" type="text" class="input" placeholder="请输入收货人姓名" id="name">
                </label>
                <label class="phone component">
                    <span class="title">手机号码：</span>
                    <input name="tel" type="text" class="input" placeholder="请输入收货人手机号" id="tel">
                </label>
                <div class="address option">
                    <span class="title">所在地区：</span>
                    <div class="select">
                        <select name="dart" id="dart" class="dart">
                            <!-- 省列表 -->
                        </select>
                        <select name="city" id="city" class="city">
                            <!-- 市列表 -->
                            <option>北京市</option>
                        </select>
                        <select name="county" id="county" class="area">
                            <!-- 区列表 -->
                            <option>北京市</option>
                        </select>
                        <select name="town" id="town" class="path">
                            <!-- 镇列表 -->
                            <option>北京市</option>
                        </select>
                    </div>
                </div>
                <label class="minute">
                    <span class="title">详细地址：</span>
                    <textarea name="street" type="text" class="input textarea" placeholder="门牌、楼层等"
                        id="street"></textarea>
                </label>
                <label class="mail component">
                    <span class="title">邮政编码：</span>
                    <input name="code" type="text" class="input" placeholder="请输入邮政编码" id="code">
                </label>
                <label class="default component">
                    <span class="title">默认地址：</span>
                    <input type="checkbox" class="choose" id="checkbox" checked='1'>
                </label>
            </form>
        </div>
        <button class="submit">添加地址</button>
    </div>
    <script type="module" src="../js/appendaddress.js"></script>
</body>

</html>