<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- initial-scale=1.0是确保页面1:1展现，不会出现缩放 -->
    <!-- user-scalable=no在移动端禁止浏览器缩放，和maximum-scale=1.0一起使用 -->
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/choosePay.css">
    <title>Document</title>
</head>

<body>
    <div class="root">
        <div class="topbar">
            <img src="../images/icon/elf_39.png" alt="">
            选择付款方式
        </div>
        <div class="content">
            <form action="#">
                <div>
                    <span class="checked">
                        <img src="../images/pay/pay_03.png" alt="">
                    </span>
                    <img src="../images/pay/pay_05.png" alt="" class="icon">
                    <span>支付宝支付</span>
                </div>
                <div>
                    <span class="checked">
                        <img src="../images/pay/pay_10.png" alt="">
                    </span>
                    <img src="../images/pay/pay_09.png" alt="" class="icon">
                    <span>微信支付</span>
                </div>
                <div>
                    <span class="checked">
                        <img src="../images/pay/pay_10.png" alt="">
                    </span>
                    <img src="../images/pay/pay_14.png" alt="" class="icon">
                    <span>银联支付</span>
                </div>
                <button class="submit">付款</button>
            </form>

        </div>

    </div>
</body>

</html>