<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title></title>
	<link rel="stylesheet" href="../fonts/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="../css/reset.css">
	<link rel="stylesheet" href="../css/classification.css">
</head>

<body>
	<div class="head">
		<input class="search" type="text" placeholder="搜索商品,共10000款好物 ">
		<i class="fa fa-search"></i>
	</div>
	<div class="body">
		<ul class="classification">
			<!-- 一级分类 -->
		</ul>
		<div class="content">
			<img class="big-photo" src="../img/classification/1_03.jpg" alt="">
			<div class="title">—— 女装分类 ——</div>
			<ul class="classification-content">
				<!-- 二级分类 -->
			</ul>
		</div>
	</div>

	</ul>
	<ul class="nav">
		<li class="item-nav" onclick="location.assign('../index.html')">
			<div><i class="fa fa-home"></i></div>
			<div>首页</div>
		</li>
		<li class="item-nav">
			<div><i class="fa fa-diamond"></i></div>
			<div>优选</div>
		</li>
		<li class="item-nav" onclick="location.assign('../views/classification.html')">
			<div><i class="fa fa-th-large"></i></div>
			<div>分类</div>
		</li>
		<li class="item-nav" onclick="location.assign('../views/cart.html')">
			<div><i class="fa fa-shopping-cart"></i></div>
			<div>购物车</div>
		</li>
		<li class="item-nav" onclick="location.assign('../views/mypage.html')">
			<div><i class="fa fa-user-o"></i></div>
			<div>我的</div>
		</li>
	</ul>
	<script type="module" src="../js/classification.js"></script>
</body>

</html>