<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- initial-scale=1.0是确保页面1:1展现，不会出现缩放 -->
    <!-- user-scalable=no在移动端禁止浏览器缩放，和maximum-scale=1.0一起使用 -->
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/information.css">
    <title>Document</title>
</head>

<body>
    <div class="root">
        <div class="topbar">
            <img src="../images/icon/elf_39.png" alt="">
            账户资料
        </div>
        <div class="content">
            <div class="photo">
                <img src="../images/mypage/photo.jpg" alt="">
            </div>
            <form action="#">
                <div class="banner">
                    <span>性别</span>
                    <input type="text" value="喵喵酱">
                </div>
                <div class="banner">
                    <span>昵称</span>
                    <div class="radio">
                        <input type="radio" value="男" name="sex" class="boy">
                        <span>男</span>
                        <input type="radio" value="女" name="sex" class="girl">
                        <span>女</span>
                    </div>
                </div>
                <div class="banner">
                    <span>手机</span>
                    <input type="text" value="15863008280">
                </div>
                <button class="submit">保存修改</button>
            </form>
        </div>
    </div>
</body>

</html>