<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- initial-scale=1.0是确保页面1:1展现，不会出现缩放 -->
    <!-- user-scalable=no在移动端禁止浏览器缩放，和maximum-scale=1.0一起使用 -->
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/login.css">
    <title>Document</title>
</head>

<body>
    <div class="root">
        <div class="logo">
            <img src="../images/login/Login_03.jpg" alt="">
        </div>
        <div class="formData">
            <form action="#">
                <label><input type="text" class="account" placeholder="用户名" value="user1"></label>
                <label><input type="text" class="password" placeholder="请输入密码" value="123456"></label>
                <button class="submit">登录</button>
            </form>
        </div>
        <div class="forget_register">
            <a href="#">忘记密码</a>
            <a href="#">注册</a>
        </div>
        <div class="rest">
            <span></span>
            <span>其他登录方式</span>
            <span></span>
        </div>
        <div class="icon">
            <div class="icon_main">
                <a href="#" class="icon_wx">
                    <img src="../images/icon/elf_12.png" alt="">
                    <div>微信</div>
                </a>
                <a href="#" class="icon_qq">
                    <img src="../images/icon/elf_03.png" alt="">
                    <div>QQ</div>
                </a>
                <a href="/#/aaa" class="icon_wb">
                    <img src="../images/icon/elf_09.png" alt="">
                    <div>微博</div>
                </a>
            </div>
        </div>
    </div>
</body>
<script type="module" src="../js/login.js"></script>

</html>