<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- initial-scale=1.0是确保页面1:1展现，不会出现缩放 -->
    <!-- user-scalable=no在移动端禁止浏览器缩放，和maximum-scale=1.0一起使用 -->
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/search.css">
    <title>Document</title>

</head>

<body>
    <div class="root">
        <div class="topbar">
            <img src="../images/icon/elf_39.png" alt="">
            搜索
        </div>
        <div class="content">
            <div class="search">
                <input type="text" class="input" placeholder="马克龙">
                <span class="button">
                    <img src="../images/icon/elf_42.png" alt="">
                </span>
            </div>
            <div class="hot">
                <div class="title">热门搜索</div>
                <ul class="menu">
                    <li><a href="#">羽绒服</a></li>
                    <li><a href="#">四件套</a></li>
                    <li><a href="#">手表</a></li>
                    <li><a href="#">餐具</a></li>
                    <li><a href="#">取暖电器</a></li>
                    <li><a href="#">卫衣</a></li>
                    <li><a href="#">围巾</a></li>
                    <li><a href="#">旅行必备</a></li>
                    <li><a href="#">糕点</a></li>
                </ul>
            </div>
        </div>
    </div>
    <script type="module" src="../js/search.js"></script>
</body>

</html>