<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- initial-scale=1.0是确保页面1:1展现，不会出现缩放 -->
    <!-- user-scalable=no在移动端禁止浏览器缩放，和maximum-scale=1.0一起使用 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/searchresult.css">
    <title>Document</title>
</head>

<body>
    <div class="root">
        <div class="topbar">
            <img src="../images/icon/elf_39.png" alt="">
            搜索结果
        </div>
        <div class="search">
            <input type="text" class="input" placeholder="马克龙">
            <span class="button">
                <img src="../images/icon/elf_42.png" alt="">
            </span>
        </div>
        <div class="tabbar">
            <ul>
                <li><a href="#" class="active">综合</a></li>
                <li><a href="#">销量</a></li>
                <li><a href="#">新品</a></li>
                <li>
                    <a href="#">价格</a>
                    <span class="sort">
                        <span class="fa fa-caret-up active"></span>
                        <span class="fa fa-caret-down"></span>
                    </span>
                </li>
            </ul>
        </div>
        <ul class="content">
            <!-- 商品列表 -->
        </ul>
        <div class="goup">
            <img src="../images/icon/elf_54.png" alt="">
        </div>
    </div>
    <script type="module" src="../js/searchresult.js"></script>
</body>

</html>