<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- initial-scale=1.0是确保页面1:1展现，不会出现缩放 -->
    <!-- user-scalable=no在移动端禁止浏览器缩放，和maximum-scale=1.0一起使用 -->
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/setmy.css">
    <title>Document</title>
</head>

<body>
    <div class="root">
        <div class="topbar">
            <img src="../images/icon/elf_39.png" alt="">
            设置
        </div>
        <div class="content">
            <div class="tool">
                <span>账户资料</span>
                <img src="../images/icon/elf_64.png" alt="">
            </div>
            <div class="tool">
                <span>消息推送</span>
                <img src="../images/pay/08-1_03.jpg" alt="" class="switch">
            </div>
            <div class="tool">
                <span>清除缓存</span>
                <span class="RAM">50.13MB</span>
            </div>
            <div class="tool">
                <span>意见反馈</span>
                <img src="../images/icon/elf_64.png" alt="">
            </div>
            <div class="tool">
                <span>关于我们</span>
                <img src="../images/icon/elf_64.png" alt="">
            </div>
            <div class="tool">
                <span>分享APP</span>
                <img src="../images/icon/elf_64.png" alt="">
            </div>
        </div>
        <button class="submit">退出登录</button>
    </div>
</body>

</html>